* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

button {
  cursor: pointer;
}

body {
  background-color: #2B2B2B;
}

.header {
  padding: 20px;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav .header_nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  display: none;
}
.header_nav .header_nav_list {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.header_nav .header_nav-btn {
  padding: 19px 50px 19px 82px;
  background-color: #A259FF;
  border-radius: 20px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .header {
    padding: 20px;
  }
  .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_nav .header_nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    display: flex;
  }
  .header_nav .header_nav_list {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .header_nav .header_nav-btn {
    padding: 19px 50px 19px 82px;
    background-color: #A259FF;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
  }
  .header_nav .header_btnhamburger {
    display: none;
  }
}
.hero .hero_title {
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
  display: flex;
  padding: 30px 0;
  justify-content: start;
}
.hero .hero_info {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  display: flex;
  justify-content: start;
}

.cards .wrapper_card {
  margin-top: 40px;
  padding: 0 30px;
  width: 85%;
  height: 70px;
  background-color: #3B3B3B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cards .wrapper_card .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .wrapper_card .card .wrapper_midle {
  font-size: 16px;
  font-weight: 400;
  color: #00AC4F;
  display: none;
}
.cards .wrapper_card .card .wrapper_right {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  display: none;
}
.cards .wrapper_card .card .wrapper_end {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

@media (min-width: 720px) {
  .cards .wrapper_card {
    margin-top: 40px;
    padding: 0 30px;
    width: 85%;
    height: 70px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .cards .wrapper_card .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cards .wrapper_card .card .wrapper_midle {
    font-size: 16px;
    font-weight: 400;
    color: #00AC4F;
    display: block;
  }
  .cards .wrapper_card .card .wrapper_right {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    display: none;
  }
  .cards .wrapper_card .card .wrapper_end {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
  }
}
@media (min-width: 992px) {
  .cards .wrapper_card {
    margin-top: 40px;
    padding: 0 30px;
    width: 85%;
    height: 70px;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .cards .wrapper_card .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cards .wrapper_card .card .wrapper_midle {
    font-size: 16px;
    font-weight: 400;
    color: #00AC4F;
    display: block;
  }
  .cards .wrapper_card .card .wrapper_right {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    display: block;
  }
  .cards .wrapper_card .card .wrapper_end {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
  }
}