.header{
    padding: 20px;
    &_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_nav-right{
            display: flex;
            align-items: center;
            gap: 30px;
            display: none;
        }
        .header_nav_list{
            display: flex;
            align-items: center;
            gap: 25px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        .header_nav-btn{
            padding: 19px 50px 19px 82px;
            background-color: #A259FF;
            border-radius: 20px;
            border:none ;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
        }
    }
} 
@media (min-width:992px) {
    .header{
        padding: 20px;
        &_nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_nav-right{
                display: flex;
                align-items: center;
                gap: 30px;
                display: flex;
            }
            .header_nav_list{
                display: flex;
                align-items: center;
                gap: 25px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            .header_nav-btn{
                padding: 19px 50px 19px 82px;
                background-color: #A259FF;
                border-radius: 20px;
                border:none ;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 600;
            }
            .header_btnhamburger{
                display: none;
            }
        }
    }
}