.hero{
    .hero_title{
        font-size: 28px;
        font-weight: 600;
        color: #FFFFFF;
        display: flex;
        padding: 30px 0;
        justify-content: start;
    }
    .hero_info{
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        display: flex;
        justify-content: start;
    }
}